@use "./variables" as *;
*,
::after,
::before{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
$primary-color-blue:#5bacc3;
$primary-color-pink:#fff0ed;
$fontColor-primary:#393939;
$fontColor-secondary:#ffffff;
$fontColor-highlight:#5bacc3;
$fontColor-alternate:#909090;
$icons_width:50px;
$button_width:180px;
h1,h2{
    font-size: 60px;
    font-weight: 300;
}
h3{
    font-size: 33px;
    font-weight: 300;
}
p{

    font-size: 18px;
    font-weight: 400;
}
$button_width:180px;
button{
    width: $button_width;
    background-color: $primary-color-blue;
    color:white;
    padding: 1.25rem;
    margin: 1.25rem;
    border:2px;
    border-color: $fontColor-primary;

}
body{
    margin:1rem;
    font-family: 'Open Sans', sans-serif;;
    background-color: white;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: $primary-color-pink;
    &__logo-title-container{
        display: flex;
        align-items: center;
    }
    &__logo{
        width:$icons_width;
        margin-right: 5px;
    }
}

.nav__lists{
   
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    padding: 2rem;
    gap: 1rem; 
    &-item{
        text-decoration: none;
        color:$fontColor-primary;
        font-weight: 400;
        font-size: 21px;
        &--highlight{
            color:$fontColor-highlight
        }
    } 
}

