$primary-color-blue:#5bacc3;
$primary-color-pink:#fff0ed;
$fontColor-primary:#393939;
$fontColor-secondary:#ffffff;
$fontColor-highlight:#5bacc3;
$fontColor-alternate:#909090;
$icons_width:50px;
$button_width:180px;
h1,h2{
    font-size: 60px;
    font-weight: 300;
}
h3{
    font-size: 33px;
    font-weight: 300;
}
p{

    font-size: 18px;
    font-weight: 400;
}
$button_width:180px;
button{
    width: $button_width;
    background-color: $primary-color-blue;
    color:white;
    padding: 1.25rem;
    margin: 1.25rem;
    border:2px;
    border-color: $fontColor-primary;

}


